{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}chocshop{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row content">
        <div class="col-sm-3">

            <h1> 
                {% if current_user.is_authenticated %}
                    Hello {{ current_user.username }}
                {% else %}
                    Enter Here
                {% endif %}
            </h1>

            {% if user.is_authenticated %}

            {% else %}
                <p> {{ wtf.quick_form(loginform) }} </p>
                <!-- <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p> -->
            {% endif%}

        </div>

        <div class="col-sm-7">
            <h1>Debt Board</h1>
            <i>Credit is positive, debt is negative</i>
            {% include '_users.html' %}
            {% if pagination %}
                <div class="pagination">
                    {{ macros.pagination_widget(pagination, '.index') }}
                </div>
            {% endif %}
        </div>
        
    </div>
</div>

{% endblock %}